@import url("../../constants/variables.css");

.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100svh - 50px);
    flex-grow: 1;
    margin-inline: 10%;
}

@media (max-width: 1000px) {
    .LoginPage {
        margin-inline: 1%;
    }
}

.LoginPage-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(100px, 50%, 600px);
}

.error-message{
    color: red;
    text-align: center;
}

.loader{
    text-align: center;
}

.big-text{
    text-align: center;
    font-size: 2rem;
}
