.projectCommandsOverview{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.projectCommandsOverview > div:nth-child(2){
    padding-block: 12px;
}


@media screen and (max-width: 800px){
    .projectCommandsOverview{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

