.taskModal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

@media screen and (max-width: 800px) {
    .taskModal{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
