.theme-switcher {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center
}

/*.theme-switch__input[type="checkbox"]{*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: black;*/
/*    border-radius: 50%;*/
/*}*/

/*.theme-switch__input[type="checkbox"]:checked{*/
/*    background-color: white;*/
/*}*/

/*.theme-switch__input[type="checkbox"]:disabled{*/
/*    background-color: black;*/
/*}*/
