@import url("./constants/variables.css");

main {
    min-height: 100lvh;
}

.App-header {
    position: sticky;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-inline: auto;
    width: clamp(200px, 80%, 1600px);
    border-radius: 0 0 0.5rem 1rem;
    /*border-bottom: 3px solid var(--borderColor);*/
    /*border-inline: 3px solid var(--borderColor);*/
}

@media screen and (max-width: 900px) {
    .App-header {
        width: auto;
        margin-inline: 1%;
    }
}

.App-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.App-nav > div {

    display: flex;
    flex: 1;
    justify-content: center;
}

.App-nav > div:first-child {
    justify-content: flex-start;
}

.App-nav > div:last-child {
    justify-content: flex-end;
}

.App-header a{
    text-decoration: none;
    margin-inline: 1rem;
}


@media screen and (max-width: 400px) {
    .App-header a{
        margin-inline: 5px;
    }
}

.App-header a:-webkit-any-link {
    color: inherit;
}
